## Final Project Submission

Please fill out:
* Student name: Jacob M hansen
* Student pace: part time
* Scheduled project review date/time: 
* Instructor name: Morgan Jones
* Blog post URL:

### Business Case



ARCH is a partnership of King County and East King County cities working to preserve and increase the supply of housing for low and moderate income households in the region.  ARCH wants to expand their knowledge of the housing conditions that contribute to the sale price of a home, particularly homes priced below the median price range in King County to better serve their clients in that area.

ARCH has two primary goals:

1. Develop a predictive algorithm that predicts the sale price of a home given certain features such as square footage, condition of the home, zip code, size of lot, number of bedrooms and bathrooms.


2. ARCH also wants to better understand how these features interact and influence the home sale price so that they can better advise their clients when searching for homes at or below the median price.

### Load and Examine Dataset

In [1]:
#import packages pandas, matplotlib, seaborn, numpy

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

# load King County Housing dataset

house = pd.read_csv('kc_house_data.csv')

# Examine first rows of data set

house.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,NO,NaN,...,7 Average,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [2]:
print(house.info())
print(house.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB
None
(21597, 21)

In [3]:
# Examine summary statistics
house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
# Examine the value counts for categorical data: zipcode, condition, view and grade
house['zipcode'].value_counts()

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

In [5]:
house['condition'].value_counts()

Average      14020
Good          5677
Very Good     1701
Fair           170
Poor            29
Name: condition, dtype: int64

In [6]:
house['view'].value_counts()

NONE         19422
AVERAGE        957
GOOD           508
FAIR           330
EXCELLENT      317
Name: view, dtype: int64

In [7]:
house['grade'].value_counts()

7 Average        8974
8 Good           6065
9 Better         2615
6 Low Average    2038
10 Very Good     1134
11 Excellent      399
5 Fair            242
12 Luxury          89
4 Low              27
13 Mansion         13
3 Poor              1
Name: grade, dtype: int64

In [8]:
house['yr_built'].value_counts()

2014    559
2006    453
2005    450
2004    433
2003    420
       ...
1933     30
1901     29
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

In [9]:
#check for missing data

house.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

### Preprocess the data - Prepare the Housing Dataset for modeling
Drop irrelevant columns. Handle missing values. convert categorical features into numerical data. Preprocess test data.

#### Drop irrelevant columns

In [10]:
# Assign target and predictors

y = house["price"]
X = house.drop('price', axis = 1)

In [11]:
# import scikit learn and split the data into training and test data

from sklearn.linear_model import LinearRegression

model = LinearRegression()
#model.fit(X_train, y_train)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .33, random_state=42)

In [12]:

print(f"X_train is a DataFrame with {X_train.shape[0]} rows and {X_train.shape[1]} columns")
print(f"y_train is a Series with {y_train.shape[0]} values")

# Assert that we have the same number of rows in X as values in y
assert X_train.shape[0] == y_train.shape[0]

X_train is a DataFrame with 14469 rows and 20 columns
y_train is a Series with 14469 values

In [13]:
house.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [14]:
# Assign relevant columns

relevant_columns = [
    'date',  # date house was sold
    'bedrooms',  # the number of bedrooms
    'bathrooms', # number of bathrooms  
    'sqft_living', # square footage of home living space  
    'sqft_lot',  # square footage of the lot
    'condition', # how good the overall condition of the house is, related to maintenance 
    'grade',  # the overall design and construction of the house 
    'yr_built', # year the home was constructed
    'zipcode',  # zipcode location of the home
]

# Reassign X_train so that it only contains relevant columns
X_train = X_train.loc[ : , relevant_columns]

# Visually inspect X_train
X_train.head(10)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,condition,grade,yr_built,zipcode
19709,10/29/2014,5,3.75,3330,5042,Average,9 Better,2014,98103
4800,5/5/2015,3,2.00,1678,13862,Average,7 Average,1994,98030
13225,10/27/2014,4,1.00,1550,15239,Average,6 Low Average,1930,98166
16111,8/29/2014,3,2.50,2760,9471,Average,8 Good,1956,98115
17711,2/18/2015,2,1.50,1400,5810,Average,7 Average,1940,98103
8280,5/9/2014,3,3.25,1410,1253,Average,8 Good,2005,98103
18757,10/21/2014,2,1.00,1150,5695,Good,6 Low Average,1958,98056
4012,10/17/2014,3,2.00,1290,5700,Very Good,7 Average,1950,98116
13141,8/4/2014,3,2.25,1650,7800,Average,7 Average,1969,98011
7167,7/19/2014,3,1.00,860,7467,Average,6 Low Average,1944,98178

In [15]:

# X_train should have the same number of rows as before
assert X_train.shape[0] == 14469

# Now X_train should only have as many columns as relevant_columns
assert X_train.shape[1] == len(relevant_columns)

#### Handle Missing Values

In [16]:
# Identify missing values

X_train.isna().sum()

date           0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
condition      0
grade          0
yr_built       0
zipcode        0
dtype: int64

#### Convert categorical features to numerical data

In [17]:
# Identify categorical and numeric data
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14469 entries, 19709 to 15795
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         14469 non-null  object
 1   bedrooms     14469 non-null  int64
 2   bathrooms    14469 non-null  float64
 3   sqft_living  14469 non-null  int64
 4   sqft_lot     14469 non-null  int64
 5   condition    14469 non-null  object
 6   grade        14469 non-null  object
 7   yr_built     14469 non-null  int64
 8   zipcode      14469 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 1.1+ MB

In [18]:
# Examine value counts for categories - 'object' datatypes


print(X_train['date'].value_counts())
print()
print(X_train['condition'].value_counts())
print()
print(X_train['grade'].value_counts())

4/27/2015     94
6/26/2014     89
7/8/2014      89
3/25/2015     87
6/23/2014     87
              ..
11/28/2014     1
5/3/2014       1
2/1/2015       1
11/23/2014     1
8/3/2014       1
Name: date, Length: 362, dtype: int64

Average      9406
Good         3775
Very Good    1153
Fair          118
Poor           17
Name: condition, dtype: int64

7 Average        6002
8 Good           4096
9 Better         1725
6 Low Average    1355
10 Very Good      769
11 Excellent      270
5 Fair            166
12 Luxury          62
4 Low              16
13 Mansion          7
3 Poor              1
Name: grade, dtype: int64

In [19]:
# convert date to numeric and extract month only 
import datetime

#X_train['date'] = pd.to_datetime(X_train["date"]).dt.strftime("%Y%m%d").astype(int)

X_train['sale_month'] = pd.DatetimeIndex(X_train['date']).month

X_train['sale_month'].value_counts()

5     1646
4     1506
7     1485
6     1417
8     1304
3     1263
10    1241
9     1211
12     985
11     928
2      826
1      657
Name: sale_month, dtype: int64

In [20]:
X_train.drop('date', axis = 1, inplace = True)

In [21]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14469 entries, 19709 to 15795
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bedrooms     14469 non-null  int64
 1   bathrooms    14469 non-null  float64
 2   sqft_living  14469 non-null  int64
 3   sqft_lot     14469 non-null  int64
 4   condition    14469 non-null  object
 5   grade        14469 non-null  object
 6   yr_built     14469 non-null  int64
 7   zipcode      14469 non-null  int64
 8   sale_month   14469 non-null  int64
dtypes: float64(1), int64(6), object(2)
memory usage: 1.1+ MB

In [22]:

print(X_train['sale_month'].value_counts())
print()
print(X_train['condition'].value_counts())
print()
print(X_train['grade'].value_counts())

5     1646
4     1506
7     1485
6     1417
8     1304
3     1263
10    1241
9     1211
12     985
11     928
2      826
1      657
Name: sale_month, dtype: int64

Average      9406
Good         3775
Very Good    1153
Fair          118
Poor           17
Name: condition, dtype: int64

7 Average        6002
8 Good           4096
9 Better         1725
6 Low Average    1355
10 Very Good      769
11 Excellent      270
5 Fair            166
12 Luxury          62
4 Low              16
13 Mansion          7
3 Poor              1
Name: grade, dtype: int64

#### Multiple Categories - convert categories to numeric using scikitlearn preprocessing

In [23]:
# (0) import OneHotEncoder from sklearn.preprocessing
from sklearn.preprocessing import OneHotEncoder

# (1) Create a variable condition_train
# extracted from X_train
# (double brackets due to shape expected by OHE)
condition_train = X_train[["condition"]]

# (2) Instantiate a OneHotEncoder with categories="auto",
# sparse=False, and handle_unknown="ignore"
ohe = OneHotEncoder(categories = "auto", sparse = False, handle_unknown = "ignore")

# (3) Fit the encoder on condition_train
ohe.fit(condition_train)

# Inspect the categories of the fitted encoder
ohe.categories_

[array(['Average', 'Fair', 'Good', 'Poor', 'Very Good'], dtype=object)]

In [24]:
# (4) Transform condition_train using the encoder and
# assign the result to condition_encoded_train
condition_encoded_train = ohe.transform(condition_train)

# Visually inspect condition_encoded_train
condition_encoded_train

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [25]:
# (5a) Make the transformed data into a dataframe
condition_encoded_train = pd.DataFrame(
    # Pass in NumPy array
    condition_encoded_train,
    # Set the column names to the categories found by OHE
    columns=ohe.categories_[0],
    # Set the index to match X_train's index
    index=X_train.index
)

# Visually inspect new dataframe
condition_encoded_train

       Average  Fair  Good  Poor  Very Good
19709      1.0   0.0   0.0   0.0        0.0
4800       1.0   0.0   0.0   0.0        0.0
13225      1.0   0.0   0.0   0.0        0.0
16111      1.0   0.0   0.0   0.0        0.0
17711      1.0   0.0   0.0   0.0        0.0
...        ...   ...   ...   ...        ...
11964      1.0   0.0   0.0   0.0        0.0
21575      1.0   0.0   0.0   0.0        0.0
5390       0.0   0.0   1.0   0.0        0.0
860        1.0   0.0   0.0   0.0        0.0
15795      1.0   0.0   0.0   0.0        0.0

[14469 rows x 5 columns]

In [26]:
# (5b) Drop original condition column
X_train.drop("condition", axis=1, inplace=True)

# Visually inspect X_train
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,grade,yr_built,zipcode,sale_month
19709,5,3.75,3330,5042,9 Better,2014,98103,10
4800,3,2.00,1678,13862,7 Average,1994,98030,5
13225,4,1.00,1550,15239,6 Low Average,1930,98166,10
16111,3,2.50,2760,9471,8 Good,1956,98115,8
17711,2,1.50,1400,5810,7 Average,1940,98103,2
...,...,...,...,...,...,...,...,...
11964,3,2.50,2230,5800,7 Average,2004,98065,9
21575,4,2.75,2770,3852,8 Good,2014,98178,10
5390,4,1.50,1530,9000,6 Low Average,1976,98014,7
860,1,0.75,380,15000,5 Fair,1963,98168,6
15795,4,2.50,2755,11612,8 Good,2001,98019,3

In [30]:
# (5c) Concatenate the new dataframe with current X_train
X_train = pd.concat([X_train, condition_encoded_train], axis=1)

# Visually inspect X_train
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,grade,yr_built,zipcode,sale_month,Average,Fair,...,Average,Fair,Good,Poor,Very Good,Average,Fair,Good,Poor,Very Good
19709,5,3.75,3330,5042,9 Better,2014,98103,10,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4800,3,2.00,1678,13862,7 Average,1994,98030,5,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13225,4,1.00,1550,15239,6 Low Average,1930,98166,10,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16111,3,2.50,2760,9471,8 Good,1956,98115,8,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17711,2,1.50,1400,5810,7 Average,1940,98103,2,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,3,2.50,2230,5800,7 Average,2004,98065,9,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
21575,4,2.75,2770,3852,8 Good,2014,98178,10,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5390,4,1.50,1530,9000,6 Low Average,1976,98014,7,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
860,1,0.75,380,15000,5 Fair,1963,98168,6,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15795,4,2.50,2755,11612,8 Good,2001,98019,3,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

#### Preprocess Test data

### Build a predictive baseline model - ScikitLearn

### Iterate model using SciKitLearn

### Inferential modeling using Statsmodel

### Iterate model using Statsmodel

### Interpret final model, make conclusions and recommendations